.demo-layout-transparent {
    background: url('img/souldate.jpg') center / cover;
}

.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
    /* This background is dark, so we set text to white. Use 87% black instead if
 your background is light. */
    color: rgb(255, 255, 255);
}

body {
    color: white;
    font-family: 'Roboto', sans-serif;
}

.content {
    padding: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    line-height: 120%
}

.contentWithoutPadding {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    line-height: 120%
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    color: white;
    font-size: 24px;
}

.buttonHome {
    height: 60px;
    width: 250px;
    font-size: 24px;
}

.buttonStart {
    height: 60px;
    width: 280px;
    font-size: 24px;
}

.buttonModus {
    height: 90px;
    width: 280px;
    font-size: 24px;
}

.mdl-textfield__label {
    color: white;
    font-size: 24px;
    text-align: center;
}

.mdl-textfield__input {
    font-size: 24px;
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
    font-size: 24px;
}



.slider {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
    width: 280px;
    height: 10px;
    border-radius: 3px;
    background: #ffffff;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
}

#fieldTimer {
    font-size: 80px;
}

.timerbuttons {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 20px;
}

.minibuttons {
    height: 65px;
}

.mdl-list {
    margin-left: auto;
    margin-right: auto;
}

.border {
    border-bottom: 1px solid #ffffff;
    list-style-type: none;
}

.positionBottom {
    display: flex;
    justify-content: center;
    text-align: center;
    position: absolute;
    bottom: 0;
}

.grab {
    cursor: pointer;
}

.fontsize {
    font-size: 24px;
}

.padding {
    padding: 20px;
}

.demo-list-icon {
    width: 300px;
}

.listPictures {
    height: 35px;
    margin-right: 20px;
    border: 1px solid #ffffff;
}

.whitecolor {
    color: white;
}