body {
    color: white;
    font-family: 'Roboto', sans-serif;

}

.content {
    padding: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 24px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 300px;
    color: white;
    font-size: 24px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

.buttonHome {
    width: 250px;
    font-size: 24px;
}

.buttonStart {
    width: 280px;
    font-size: 24px;
}
